.idea
###> symfony/framework-bundle ###
/app/api/.env.local
/app/api/.env.local.php
/app/api/.env.*.local
/app/api/config/secrets/prod/prod.decrypt.private.php
/app/api/public/bundles/
/app/api/var/
/app/api/vendor/
###> friendsofphp/php-cs-fixer ###
/app/api/.php-cs-fixer.php
/app/api/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
/app/api/.phpunit.result.cache
/app/api/.phpunit.cache
/app/api/phpunit.xml
/app/api/public/coverage
###< symfony/phpunit-bridge ###

###< symfony/framework-bundle ###



# Logs
/front/logs
/front/*.log
/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*
/front/pnpm-debug.log*
/front/lerna-debug.log*

/front/node_modules
/front/dist
/front/dist-ssr
/front/*.local

/front/.eslintcache
/front/.prettiercache

/front/coverage
