parameters:
    level: 9
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
    ignoreErrors:
        -
            message: '#^Method App\\Repository\\+[a-zA-Z]+Repository\:\:search\(\) should return array\<App\\Entity\\+[a-zA-Z]+\> but returns array\.$#'
            path: src/Repository/*
